<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace="fragments/fragment :: headerFragment (pageTitle='Home')"></title>
	<object th:include = "fragments/fragment :: css" th:remove = "tag"></object>
	<object th:include = "fragments/fragment :: js" th:remove = "tag"></object>
</head>

<body>
    <nav th:replace = "fragments/fragment :: navbar"></nav>    

    <div class="container-fluid">
        <h2>Sistem Informasi Kepegawaian</h2>
        <h6>Selamat Datang di Sistem Informasi Kepegawaian</h6>
        <br>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        Lihat Data Pegawai Berdasarkan NIP
                    </div>
                    <form th:action="@{/pegawai}" method="GET">
                        <div class="card-body">
                            <label for="jabatanId">Masukkan Nomor Induk Pegawai</label>
                            <input type="text" name="nip" class="form-control" />
                        <br>
                       	<div class="text-center">
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
						</div>
                    </form>
                </div>
            </div>
        <br>
        
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        Lihat Detail Jabatan
                    </div>
                    <form th:action="@{/jabatan/view}" method="GET">
	                    <div class="card-body">
						  <label for="idJabatan">Pilih Jabatan</label>
						  <select class="form-control" name="idJabatan">
						  	<option hidden >Pilih Jabatan</option>
						  	<option th:each="jabatan : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
						  </select>
						<br>
                       	<div class="text-center">
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
						</div>
					</form>
                </div>
        </div>
        <br>
        
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        Lihat Pegawai Termuda dan Tertua
                    </div>
                    <form th:action="@{/pegawai/termuda-tertua}" method="GET">
	                    <div class="card-body">
						  <label for="idInstansi">Pilih Instansi</label>
						  <select class="form-control" name="idInstansi">
						  	<option hidden >Pilih Instansi</option>
						  	<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></option>
						  </select>
                       	<br>
                       	<div class="text-center">
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
						</div>
					</form>
                </div>
            </div>

        <br>      

        
    </div>
</body>
</html>