<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace="fragments/fragment :: headerFragment (pageTitle='Home')"></title>
	<object th:include = "fragments/fragment :: css" th:remove = "tag"></object>
	<object th:include = "fragments/fragment :: js" th:remove = "tag"></object>
</head>

<body>
    <nav th:replace = "fragments/fragment :: navbar"></nav>    

    <div class="container-fluid">
    	<br>
        <h2>Sistem Informasi Kepegawaian</h2>
        <a>Selamat Datang di Sistem Informasi Kepegawaian</a>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Lihat Data Pegawai Berdasarkan NIP
                    </div>
                    <form th:action="@{/pegawai}" method="GET">
                        <div class="card-body">
                            <label for="jabatanId">Masukkan Nomor Induk Pegawai</label>
                            <input type="text" name="nip" class="form-control" />
                            <button type="submit" class="btn btn-primary">Lihat</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Lihat Detail Jabatan
                    </div>
                    <form th:action="@{/jabatan/view}" method="GET">
	                    <div class="form-group" >
						  <label for="idJabatan">Pilih Jabatan</label>
						  <select class="form-control" name="idJabatan">
						  	<option hidden >Pilih Jabatan</option>
						  	<option th:each="jabatan : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
						  </select>
						  <button type="submit" class="btn btn-primary">Lihat</button>
						</div>
					</form>
                </div>
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Lihat Pegawai Termuda dan Tertua
                    </div>
                    <form th:action="@{abcd}" method="GET">
	                    <div class="form-group" >
						  <label for="dealerId">Pilih Instansi</label>
						  <select class="form-control" id="dealerId">
						  	<option hidden >Pilih Instansi</option>
						    <option>1</option>
						    <option>2</option>
						    <option>3</option>
						    <option>4</option>
						  </select>
						  <button type="submit" class="btn btn-primary">Lihat</button>
						</div>
					</form>
                </div>
            </div>
        </div>
        <br>
        
    </div>
</body>
</html>