<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:replace="fragments/fragment :: headerFragment (pageTitle='Ubah Jabatan')"></title>
		<object th:include = "fragments/fragment :: css" th:remove = "tag"></object>
		<object th:include = "fragments/fragment :: js" th:remove = "tag"></object>
	</head>
	
	<body>
	<nav th:replace = "fragments/fragment :: navbar"></nav>
	<br>
    <h2>Ubah Jabatan</h2>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center" >
                Ubah Jabatan
            </div>
            <div class="card-body">
                <form th:action="@{/jabatan/ubah(idJabatan=${jabatan.id})}" th:object="${jabatan}" method="POST">

                    <div class="row">
                        <div class="col-md-6">
                            <p>Nama</p>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="nama" th:value="${jabatan.nama}"/>
                        </div>
                    </div>	
                
                    <div class="row">
                        <div class="col-md-6">
                            <p>Deskripsi</p>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="deskripsi" th:value="${jabatan.deskripsi}"/>
                        </div>
                    </div>	
				
                    <div class="row">
                        <div class="col-md-6">
                            <p>Gaji Pokok</p>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="number" name="gajiPokok" th:value="${jabatan.gajiPokok}"/>
                        </div>
                    </div>
				
				    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" name="save">Simpan</button>
                    </div>									                
                </form>
            </div>
        </div>
    </body>
</html>