<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:replace="fragments/fragment :: headerFragment (pageTitle='Detail Pegawai')"></title>
		<object th:include = "fragments/fragment :: css" th:remove = "tag"></object>
        <object th:include = "fragments/fragment :: js" th:remove = "tag"></object>
	</head>
	
	<body>
    <nav th:replace = "fragments/fragment :: navbar"></nav>
    
    <div class="container">
    <br>
	<h2 class="text-center" th:text="'Lihat Pegawai Termuda Tertua - ' + ${pegawaiTermuda.instansi.nama} + ' - ' + ${pegawaiTermuda.instansi.provinsi.nama}"></h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    Data Pegawai Termuda
                </div>
                <div class="card-body">
    
                    <div class="row">
                        <div class="col-md-6">
                            <p>NIP</p>
                        </div>
                        <div class="col-md-6">
                            <p th:text = "${pegawaiTermuda.nip}"></p>
                        </div>
                    </div>	
                
                    <div class="row">
                        <div class="col-md-6">
                            <p>Nama</p>
                        </div>
                        <div class="col-md-6">
                            <p th:text = "${pegawaiTermuda.nama}"></p>
                        </div>
                    </div>		

                    <div class="row">
                        <div class="col-md-6">
                            <p>Tempat Lahir</p>
                        </div>
                        <div class="col-md-6">
                            <p th:text ="${pegawaiTermuda.tempatLahir}"></p>
                        </div>
                    </div>	
                    
                    <div class="row">
                        <div class="col-md-6">
                            <p>Tanggal Lahir</p>
                        </div>
                        <div class="col-md-6">
                            <p th:text = "${pegawaiTermuda.tanggalLahir}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p>Tahun Masuk</p>
                        </div>
                        <div class="col-md-6">
                            <p th:text = "${pegawaiTermuda.tahunMasuk}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p>Nama Instansi</p>
                        </div>
                        <div class="col-md-6">
                            <p th:text = "${pegawaiTermuda.instansi.nama} + ' - ' + ${pegawaiTermuda.instansi.provinsi.nama}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p>Jabatan</p>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li th:each="jabatan : ${pegawaiTermuda.jabatanPegawai}">
                                    <p1 th:text= "${jabatan.nama}"></p1>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    Data Pegawai Tertua
                </div>
                <div class="card-body">
    
                    <div class="row">
                        <div class="col-md-6">
                            <p>NIP</p>
                        </div>
                        <div class="col-md-6">
                            <p th:text = "${pegawaiTertua.nip}"></p>
                        </div>
                    </div>	
                
                    <div class="row">
                        <div class="col-md-6">
                            <p>Nama</p>
                        </div>
                        <div class="col-md-6">
                            <p th:text = "${pegawaiTertua.nama}"></p>
                        </div>
                    </div>		

                    <div class="row">
                        <div class="col-md-6">
                            <p>Tempat Lahir</p>
                        </div>
                        <div class="col-md-6">
                            <p th:text ="${pegawaiTertua.tempatLahir}"></p>
                        </div>
                    </div>	
                    
                    <div class="row">
                        <div class="col-md-6">
                            <p>Tanggal Lahir</p>
                        </div>
                        <div class="col-md-6">
                            <p th:text = "${pegawaiTertua.tanggalLahir}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p>Tahun Masuk</p>
                        </div>
                        <div class="col-md-6">
                            <p th:text = "${pegawaiTertua.tahunMasuk}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p>Nama Instansi</p>
                        </div>
                        <div class="col-md-6">
                            <p th:text = "${pegawaiTertua.instansi.nama} + ' - ' + ${pegawaiTertua.instansi.provinsi.nama}"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p>Jabatan</p>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li th:each="jabatan : ${pegawaiTertua.jabatanPegawai}">
                                    <p1 th:text= "${jabatan.nama}"></p1>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
      </div>
</body>
</html>