<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:replace="fragments/fragment :: headerFragment (pageTitle='View All Jabatan')"></title>
	<object th:include = "fragments/fragment :: css" th:remove = "tag"></object>
	<object th:include = "fragments/fragment :: js" th:remove = "tag"></object>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
</head>

<body>
	<nav th:replace = "fragments/fragment :: navbar"></nav>    
	
	<div class="container-fluid">
	<br>
	<table id="jabatan" class="table table-striped">
	    <thead>
	      <tr>
	        <th>Nama</th>
	        <th>Deskripsi</th>
	        <th>Gaji Pokok</th>
	      </tr>
	     </thead>
	     <tbody>
	     	<div th:each="jabatan : ${listJabatan}">
				<tr>
					<td th:text="${jabatan.nama}"></td>
					<td th:text="${jabatan.deskripsi}"></td>
					<td th:text="${jabatan.gaji_pokok}"></td>
				</tr>
			</div>
	     </tbody>
	</table>
	</div>
</body>
</html>

<script>
	$(document).ready(function() {
		$('#jabatan').DataTable();
	});
</script>
